/*---------------------------
  common-styles or utilites
 --------------------------*/
 body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*--------------
  custom-styles
 --------------*/
 .top-banner{
    background-color: rgb(34, 58, 68);
    border-radius: 30px;
    margin: 50px 140px;
    display: flex;
    padding: 35px 80px 0px 105px;
 }

 .header-text{
     width: 50%;
 }

 .header-text h1{
     color: white;
     margin: 3px;
 }

 .header-text p{
    margin-top: 50px;
    color: rgb(183, 180, 180);
    font-size: 14px;
}

 .header-image{
     width: 50%;
 }

 .header-image img{
     height: 100%;
     width: 100%;
 }

 .tomato-button{
     margin-top: 30px;
     background-color: rgb(247, 65, 33);
     border: none;
     padding: 15px 25px;
     border-radius: 5px;
     color: white;
 }

 .main-container{
     display: flex;
     margin: 100px 140px 40px 140px;
 }

 .button-container{
     width: 312px;
     height: 312px;
     background-color: #61acef;
     margin-right: 40px;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .side-button{
     height: 64px;
     width: 252px;
     background-color: white;
     border: none;
     border-radius: 10px;
     font-size: 20px;
     margin: 10px;
     font-weight: 600;
 }


